<!DOCTYPE html> 

<html>

<head>
<meta charset="utf-8"/>
<title>{debutdemesmots}</title>
<link rel="stylesheet" href="/css/mycss.css"/>
</head>
<body>
<nav><div>à la racine tu as un fichir ./venv/bin/activate avec ecrit dedans 'export MESAIRPODS="mac adresse de mes airpods"'(1) </div><a href="/bluetooth">je n'arrive pas à connecer mes appareils blueooth (reinitaliser bluetooth ) (2)</a>
<a href="/airpods">mes airpods sont pas connectes (3)</a>
OU
<a href="/hautparleur">mes hautparleurs sont pas connectes (3)</a>
<hr>
Ma radio
<a href="/maradio">connecte taradio</a>
<a href="http://localhost:3000">lien vers le localhost</a>
<hr>
<hr>
Ma connexion internet
<a href="/tether">jai branché le téléphone en partage de connection sur le bon port usb ?</a>
<hr>

<a href="/monhautparleurjack">mes hautparleurs ne sont pas connectes en jack je odis juste lancer 1 script (1)</a>

<a href="/allmymusic">toute ma musique</a>
<a href="/traduit">traduit quelque chose</a>
<a href="/music">ajouter un fichier de musique</a>
<a href="/bienvenue">welcome</a></nav>
<form action="/mymusic" method="post">entre dans ton terminal et fait pwd là où sont tous tes enregistrement copy ça ici pour egaliser tout tes enregistrement au meme volume:<input type="text" name="mymusic"/><input type="submit" value="ok"/></form>
<%=render_collection(path="./music", view="menu.html", mycollection=Db().get_musicalinstruments(), erreur="pas d'instruments de musique", as_="note")%>
<%=render_collection(path="./music", view="menuinstrument.html", mycollection=Db().get_othermusicalinstruments(), erreur="pas d'instruments de musique", as_="note")%>
<h1>{mots}</h1>
{partiedemesmot}
<div id="audio-player-container">
  <p>Audio Player</p>
  <button id="play-icon" data-play="&#x25B6;" data-pause="&#8545;">&#x25B6;</button>
  <span id="current-time" class="time">0:00</span>
  <input type="range" id="seek-slider" max="100" value="0">
  <span id="duration" class="time">0:00</span>
  <output id="volume-output">100</output>
  <input type="range" id="volume-slider" max="100" value="100">
  <button id="mute-icon"></button>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/js/post.js"></script>
</body>
</html>
